---
http_interactions:
- request:
    method: head
    uri: https://transfem.social/notes/a7mgctvw8cub4i6v
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 12 May 2025 02:52:02 GMT
- request:
    method: get
    uri: https://transfem.social/notes/a7mgctvw8cub4i6v
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html><!---\n  _____ _                _\n /  ___| |              |
        |\n \\ `--.| |__   __ _ _ __| | _____ _   _\n  `--. \\ '_ \\ / _` | '__| |/
        / _ \\ | | |\n /\\__/ / | | | (_| | |  |   <  __/ |_| |\n \\____/|_| |_|\\__,_|_|
        \ |_|\\_\\___|\\__, |\n                                   __/ |\n                                  |___/\n\n
        Thank you for using Sharkey!\n If you are reading this message... how about
        joining the development?\n https://activitypub.software/TransFem-org/Sharkey\n\n--><html><head><meta
        charset=\"utf-8\"><meta name=\"application-name\" content=\"Sharkey\"><meta
        name=\"referrer\" content=\"origin\"><meta name=\"theme-color\" content=\"#F7A8B8\"><meta
        name=\"theme-color-orig\" content=\"#F7A8B8\"><meta property=\"og:site_name\"
        content=\"TransFem Space\"><meta property=\"instance_url\" content=\"https://transfem.social\"><meta
        name=\"viewport\" content=\"width=device-width, initial-scale=1\"><meta name=\"format-detection\"
        content=\"telephone=no,date=no,address=no,email=no,url=no\"><link rel=\"icon\"
        href=\"https://cdn.transfem.social/files/f0f8e8e5-8467-4b46-8884-83c4e9093e78.webp\"><link
        rel=\"apple-touch-icon\" href=\"https://cdn.transfem.social/files/88aa10ed-2883-442f-8316-456512009fe4.webp\"><link
        rel=\"manifest\" href=\"/manifest.json\"><link rel=\"search\" type=\"application/opensearchdescription+xml\"
        title=\"faelif (@faelif)\" href=\"https://transfem.social/opensearch.xml\"><link
        rel=\"prefetch\" href=\"https://cdn.transfem.social/files/fce74048-8cd3-411b-af3a-17dd928d97eb.webp\"><link
        rel=\"prefetch\" href=\"https://cdn.transfem.social/files/fa71e2ed-3a44-4c49-b8ee-10b2ff3ebd8d.webp\"><link
        rel=\"prefetch\" href=\"https://cdn.transfem.social/files/6b37ef22-cfc7-4bb9-b6cc-7d89419ccc5c.webp\"><link
        rel=\"stylesheet\" href=\"/assets/phosphor-icons/bold/style.css?version=2025.2.3\"><link
        rel=\"stylesheet\" href=\"/static-assets/fonts/sharkey-icons/style.css?version=2025.2.3\"><link
        rel=\"modulepreload\" href=\"/vite/app-CHI3bXa8.js\"><link rel=\"stylesheet\"
        href=\"/vite/CjWeOm3v.css\"><title>faelif (@faelif) | TransFem Space</title><meta
        name=\"description\" content=\"@calcifer@masto.hackers.town \n\nYoung man,
        there's no need to have RAM\nI said young man, you can simply program\nI said
        young man, logic gates are my jam\nThere's no need for a CPU\n\nIt's fun to
        program the FPGA\nIt's fun to program the FPGA\nIt has everything\nFor a Turing
        machine\nYou can write out all your routines\n\nRE: Dammit I mentioned FPGA
        and now I’m singing [...]
- request:
    method: post
    uri: https://api.tumblr.com/v2/blog/indirect.tumblr.com/post
    body:
      encoding: UTF-8
      string: format=markdown&quote=%40calcifer%40masto.hackers.town+%0A%0AYoung+man%2C+there%27s+no+need+to+have+RAM%0AI+said+young+man%2C+you+can+simply+program%0AI+said+young+man%2C+logic+gates+are+my+jam%0AThere%27s+no+need+for+a+CPU%0A%0AIt%27s+fun+to+program+the+FPGA%0AIt%27s+fun+to+program+the+FPGA%0AIt+has+everything%0AFor+a+Turing+machine%0AYou+can+write+out+all+your+routines%0A%0ARE%3A+Dammit+I+mentioned+FPGA+and+now+I%E2%80%99m+singing+the+initialism+to+the+tune+of+%E2%80%9CYMCA%E2%80%9D&source=%3Ca+href%3D%22https%3A%2F%2Ftransfem.social%2Fnotes%2Fa7mgctvw8cub4i6v%22%3E%40faelif%3C%2Fa%3E&type=quote
    headers:
      Authorization:
      - OAuth oauth_consumer_key="UBFEAA4nUNXARJAW0KbBMPF428yEs0PanWhGJTHv0vkAycxKhr",
        oauth_nonce="8fe42ef192a1e0f29bf29aa43c19b381", oauth_signature="k96tfr%2BajoyUWAeCCYsbNFKPSEE%3D",
        oauth_signature_method="HMAC-SHA1", oauth_timestamp="1747018323", oauth_token="AJx6PXa9ENs1ESns6n6RriWe24IBli4VYINEQMsY99HEBFOTJc",
        oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Rid:
      - 1e89848bc4548cf1cc828c469ba258ca
    body:
      encoding: UTF-8
      string: '{"meta":{"status":201,"msg":"Created"},"response":{"id":783305485256458240,"id_string":"783305485256458240","state":"published","display_text":"Posted
        to indirect"}}'
  recorded_at: Mon, 12 May 2025 02:52:03 GMT
recorded_with: VCR 6.3.1
